version: "3.8"

services:
  devopsdb:
    build: ./Docker-db
    deploy:
     replicas: 4
    ports:
      - "3306"
    volumes:
      - dbvolume:/docker-entrypoint-initdb.d
    networks:
      - dbnetwork
      - appnetwork

  application:
    build: ./Docker-app
    deploy:
     replicas: 4
    ports:
      - "8080"
    volumes:
      - appvolume:/usr/local/tomcat/logs
    depends_on:
      - devopsdb
    networks:
      - appnetwork
      - dbnetwork

volumes:
  dbvolume:
  appvolume:

networks:
  appnetwork:
    driver: bridge
  dbnetwork:
    driver: bridge
