---
version: "3"
services:
 devopsdb:
 deploy :
      replicas: 4
  volumes :
     - dbvolume:/docker-entrypoint-initdb.d
   networks :
     - dbnetwork
     - appnetwork
   ports:
     - "3306"


 application:
     build : ./Docker-app
     deploy :
       replicas : 4
     volumes :
     - appvolume:/usr/local/tomcat/logs
     networks :
     - appnetwork
     - dbnetwork
     ports:
     - "8080"
     depends_on:
     - "devopsdb"

volumes :
    dbvolume:
    appvolume:
networks :
  appnetwork:
    driver: bridge
  dbnetwork:
    driver: bridge
