---
version: "3"
services:
 devopsdb:
   container_name: devopsdb
   build : 
      context: .
      dockerfile: Docker-db/Dockerfile
  
   ports:
     - "3306:3306"

 application:
   build : 
      context: .
      dockerfile: Docker-app/Dockerfile
   container_name: containerapp
   ports:
     - "1234:8080"
   depends_on:
     - "devopsdb"
